<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Hello, world!</title>
    {% raw %}<link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">{% endraw %}
  </head>
  <body>
    Hello, world!<br>
    <hr>
    Result from RPC Server: {% if result %}{{ result }}{% else %}No result. Check if server is up and running on port 5000{% endif %}
  </body>
</html>
